.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 20px;
    cursor: pointer;
    min-height: 450px
}

.cardSimilar {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  text-align: center;
  cursor: pointer;
  min-height: 250px
}

.imageCard {
    padding-top: 10px;
    max-height: 300px;
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.imageModal {
    max-height: 200px;
    margin: auto;
    text-align: center;
}

.imageCenterModal {
    max-height: 300px;
    margin: 10px;
    text-align: center;
}

.title {
    color: grey;
    font-size: 18px;
}

.descriptionDetail {
    color: #000;
    font-size: 18px;
    font-weight: 600;
}

.Detail {
    color: #000;
    font-size: 18px;
}

.DetailContainer {
    margin: 30px;
}
